@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@font-face {
  font-family: pinkfloyd;
  src: url("../fonts/pinkfloyd.ttf"); }

body {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
  padding: 3rem; }

.nav {
  color: #fff; }

.header__logo--text {
  font-family: 'pinkfloyd', cursive;
  text-align: center;
  font-size: 3rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.nav {
  height: 5rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .nav__logo {
    float: left; }
  .nav__ul {
    float: right;
    margin-top: 1.6rem; }
    .nav__ul--li {
      display: inline;
      margin-right: 2rem; }

.header {
  height: 40rem;
  width: 100%;
  background-image: url("../img/space-rock.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header__logo {
    height: 30rem;
    width: 30rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
