@import url("https://fonts.googleapis.com/css?family=Bangers");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Coda");
[class^="menu-text"] {
  transition: all .3s ease-in-out; }
  [class^="menu-text"]:hover {
    transform: skew(10deg, 5deg);
    cursor: pointer; }

.menu__item--one:hover > .arrows-one {
  transform: rotate(360deg); }

.menu__item--one:hover > .arrows-one,
.menu__item--two:hover > .arrows-two,
.menu__item--three:hover > .arrows-three {
  animation: rotate-arrows linear infinite 2.5s; }

@keyframes rotate-arrows {
  0% {
    opacity: 1;
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(360deg);
    opacity: 1; } }

.nav-icon--one:hover,
.nav-icon--two:hover {
  transform: scale(1.2);
  color: white; }

.panel {
  transition: all .3s ease-in-out; }

.panel.panel-open {
  left: 0; }

.header__logo--text.neon {
  animation: header-logo-neon 2s ease-in-out infinite alternate 1s; }

@-webkit-keyframes header-logo-neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

@font-face {
  font-family: pinkfloyd;
  src: url("../fonts/pinkfloyd.ttf"); }

body {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #fff;
  padding: 3rem; }

.header__logo--text {
  font-family: 'pinkfloyd', cursive;
  text-align: center;
  font-size: 5rem;
  color: #37dddd;
  text-shadow: 2px 2px 20px rgba(55, 176, 221, 0.8); }

[class^="menu-text"] {
  font-family: 'coda', display;
  font-size: 5rem;
  text-align: center;
  letter-spacing: .25rem;
  justify-self: center;
  align-self: center;
  color: #fff;
  text-shadow: -1px 1px 0 #555, -2px 2px 0 #444, -3px 3px 0 #333, -4px 4px 0 #222, -4px 4px 0 #111, 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 2px 2px rgba(0, 0, 0, 0.3), -1px 3px 3px rgba(0, 0, 0, 0.2), -1px 5px 5px rgba(0, 0, 0, 0.1), -2px 8px 8px rgba(0, 0, 0, 0.1), -2px 13px 13px rgba(0, 0, 0, 0.1); }

.menu-arrow-left,
.menu-arrow-right {
  opacity: 0; }

.fa-arrow-left {
  margin-left: 3rem;
  font-size: 3rem;
  color: #fff; }

.fa-arrow-right {
  margin-right: 3rem;
  font-size: 3rem;
  color: #fff; }

.nav-icon--one {
  grid-column: 2/3;
  color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
  grid-row: 1/2;
  align-self: center;
  justify-self: center; }

.nav-icon--two {
  grid-column: 3/4;
  color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
  grid-row: 1/2;
  align-self: center;
  justify-self: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.content {
  min-height: 100%; }

.content-inside {
  background: linear-gradient(to bottom, rgba(163, 56, 173, 0.85), rgba(63, 94, 251, 0.85)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); }

.nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 5rem;
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  grid-template-rows: 1fr; }

.header {
  height: 40rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header__logo {
    height: 30rem;
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
    transition: opacity 2s ease-out; }

.menu {
  height: calc(100vh - 45rem);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .menu__item--one {
    grid-column: 1/13;
    grid-row: 1/2; }
  .menu__item--two {
    grid-column: 1/13;
    grid-row: 2/3; }
  .menu__item--three {
    grid-column: 1/13;
    grid-row: 3/4; }

[class^="menu__item"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.footer {
  height: 5rem;
  margin-top: -5rem;
  background-color: #000;
  width: 100%; }

.panel {
  position: absolute;
  height: calc(100vh - 5rem);
  width: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2; }

.back-btn-container {
  height: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr;
  color: #fff; }

.panel-back-arrow {
  align-self: center;
  justify-self: center;
  opacity: .7; }
  .panel-back-arrow:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2); }
