.header {
    height: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
        height: 30rem;
        width: 30rem;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 50%;
        display: flex; 
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, .2);
        transition: opacity 2s ease-out;
    }
}