.nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 5rem;
    width: 100%;
    z-index: 2; 
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    grid-template-rows: 1fr;
}

