[class^="menu-text"] {
    transition: all .3s ease-in-out;

    &:hover {
        transform: skew(10deg, 5deg);
        cursor: pointer;
        
    }
}

.menu__item--one:hover > .arrows-one {
    transform: rotate(360deg);
}

.menu__item--one:hover > .arrows-one,
.menu__item--two:hover > .arrows-two,
.menu__item--three:hover > .arrows-three {
    animation: rotate-arrows linear infinite 2.5s;
}

@keyframes rotate-arrows {
    0% {
        opacity: 1;
        transform: rotateX(0deg);
    } 100% {
        transform: rotateX(360deg);
        opacity: 1;
    }
}

.nav-icon--one:hover,
.nav-icon--two:hover {
    transform: scale(1.2);
    color: rgba(255, 255, 255, 1);
}

.panel {
    transition: all .3s ease-in-out;
}

.panel.panel-open {
    left: 0;
    
}

.header__logo--text.neon {
    animation: header-logo-neon 2s ease-in-out infinite alternate 1s;

}

@-webkit-keyframes header-logo-neon {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }




