// fonts
@font-face {
    font-family: pinkfloyd;
    src: url('../fonts/pinkfloyd.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Coda');

body {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #fff;
    padding: 3rem;
}

.header__logo--text {
    font-family: 'pinkfloyd', cursive;
    text-align: center; 
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, .7);
}

[class^="menu-text"] {
    font-family: 'coda', display;
    font-size: 5rem;
    text-align: center;
    letter-spacing: .25rem; 
    justify-self: center;
    align-self: center;
    color: #fff;
    text-shadow:
		-1px 1px 0 #333,
		-2px 2px 0 #333,
		-3px 3px 0 #333,
		-4px 4px 0 #333,
		-4px 4px 0 #333,
		0px 1px 1px rgba(0,0,0,.4),
		0px 2px 2px rgba(0,0,0,.3),
		-1px 3px 3px rgba(0,0,0,.2),
		-1px 5px 5px rgba(0,0,0,.1),
		-2px 8px 8px rgba(0,0,0,.1),
		-2px 13px 13px rgba(0,0,0,.1);
    
}

.fa-arrow-left {
    margin-left: 3rem;
    font-size: 3rem;
    color: #fff;
    opacity: 0;
}

.fa-arrow-right {
    margin-right: 3rem;
    font-size: 3rem;
    color: #fff;
    opacity: 0;
}

.nav-icon--one {
    grid-column: 2/3;
    color: rgba(255, 255, 255, .7);
    font-size: 3rem;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.nav-icon--two {
    grid-column: 3/4;
    color: rgba(255, 255, 255, .7);
    font-size: 3rem;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.panel-back-icon {
    grid-column: 1/2;
    grid-row: 1/2;
    color:rgba(255, 255, 255, .7);
    font-size: 3rem;
    align-self: center;
    justify-self: center;
}
 
